@keyframes loading{
    0%{
        width: 0vw;
        background-color: red;
    }
    50%{
        width: 50vw;
        background-color: red;
    }
    100%{
        width: 100vw;
        background-color: red;
    }
}

@keyframes ani_slide1 {
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-80vh);
    }
}
@keyframes ani_slide2 {
    0%{
        transform: translateY(-105vh);
    }
    100%{
        transform: translateY(-50vh);
    }
}